{% extends '@BDDM/base.html.twig' %}

{% block body %}
    <div class="row center large">
        <div class="col s12">
            <h2>Je recherche des infos</h2>
        </div>
    </div>
    <div class="row center large">
        <div class="col offset-s4 s4">
            <a class="waves-effect waves-light btn">Sur un militant</a>
        </div>
    </div>
    <div class="row center large">
        <div class="offset-s2 col s4">
            <a class="waves-effect waves-light btn">Par compétences</a>
        </div>
        <div class="col s4">
            <a class="waves-effect waves-light btn">Sur un groupe local</a>
        </div>
    </div>

    <div class="row center large">
        <div class="col s4">
            <a class="waves-effect waves-light btn">Sur une campange</a>
        </div>
        <div class="col s4">
            <a class="waves-effect waves-light btn">Sur une action</a>
        </div>
        <div class="col s4">
            <a class="waves-effect waves-light btn">Sur une formation</a>
        </div>
    </div>
{% endblock body %}