{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <h1>Liste des proximités</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        {% for proximite in proximites %}
            <tr>
                <td><a href="{{ path('proximite_show', { 'id': proximite.id }) }}">{{ proximite.nom }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn waves-effect waves-light" href="{{ path('proximite_new') }}">Ajouter une proximité</a>

{% endblock %}
