{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <h1>Ajout d'une formation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Valider" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('formation_index') }}">Liste des formations</a>
        </li>
    </ul>
{% endblock %}
