{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <h1>Ajout d'une formation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn waves-effect waes-light" type="submit" value="Valider" />
    {{ form_end(form) }}

    <a class="btn waves-effect waves-light" href="{{ path('formation_index') }}">Liste des formations</a>
{% endblock %}
