{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <h1>Liste des campagnes</h1>

    <table>
        <thead>
            <tr>
                <th>Nom de la campagne</th>
            </tr>
        </thead>
        <tbody>
        {% for campagne in campagnes %}
            <tr>
                <td><a href="{{ path('campagne_show', { 'id': campagne.id }) }}">{{ campagne.nom }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn waves-effect waves-light" href="{{ path('campagne_new') }}">Ajouter une campagne</a>

{% endblock %}
