{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <h1>Liste des compétences</h1>

    <table>
        <thead>
            <tr>
                <th>Nom de la compétence</th>
            </tr>
        </thead>
        <tbody>
        {% for competence in competences %}
            <tr>
                <td><a href="{{ path('competence_show', { 'id': competence.id }) }}">{{ competence.nom }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('competence_new') }}">Ajouter une compétence</a>
        </li>
    </ul>
{% endblock %}
