{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <h1>Liste des mailings</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        {% for mailing in mailings %}
            <tr>
                <td><a href="{{ path('mailing_show', { 'id': mailing.id }) }}">{{ mailing.nom }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mailing_new') }}">Ajouter une nouvelle mailing</a>
        </li>
    </ul>
{% endblock %}
