{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <h1>Liste des domaines</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        {% for domaine in domaines %}
            <tr>
                <td><a href="{{ path('domaine_show', { 'id': domaine.id }) }}">{{ domaine.nom }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn waves-effect waves-light" href="{{ path('domaine_new') }}">Ajouter un domaine</a>

{% endblock %}
