{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <h1>Ajout d'un domaine</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn waves-effect waves-light" type="submit" value="Valider" />
    {{ form_end(form) }}

    <a class="btn waves-effect waves-light" href="{{ path('domaine_index') }}">Liste des domaines</a>

{% endblock %}
