{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <h1>Liste des aptitudes</h1>

    <table>
        <thead>
            <tr>
                <th>Id compétence</th>
                <th>Niveau</th>
            </tr>
        </thead>
        <tbody>
        {% for aptitude in aptitudes %}
            <tr>
                <td><a href="{{ path('aptitude_show', { 'id': aptitude.id }) }}">{{ aptitude.idCompetence }}</a></td>
                <td>{{ aptitude.niveau }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn waves-effect waves-light" href="{{ path('aptitude_new') }}">Ajouter une aptitude</a>

{% endblock %}
