{% extends '@Faucheur/base.html.twig' %}

{% block body %}
    <h1>Ajouter une association</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <a class="btn waves-effect waves-light" href="{{ path('association_index') }}">Liste des associations</a>

{% endblock %}
